@charset "utf-8";
/* CSS Document */

html {font-size: 62.5%; font-family: "Microsoft Yahei";}

/*------------------- reset -------------------*/
body {color: #333; background: #3f798f;}

.panel-title{
    font-size: 2rem;
}
.panel-heading{
    padding:2rem 1rem;
}
.panel-body{
    padding:1.5rem 3rem;
}
.btn-success{
    width: 100%;
}