<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>GMTools管理系统</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="form/css/jqtransform.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="form/js/jquery.jqtransform.js"></script>
<script src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="js/template-native.js"></script> 
<script src="js/layer/layer.js"></script>
<script type="text/javascript">
$(function() {
    $(".jqtransform").jqTransform();
});
</script>
</head>

<body>


<!--jm-maincon warp start-->
<div class="jm-maincon">
    <div class="jm-plr15">
        <!-- jm-navbar start-->
        <div class="jm-navbar">
            <div class="jmform-search clearfix">
                 <form action="">                 	               
                    <div class="jmform-group">
                        <!-- <a id="gm_log_searchBtn" class="jmbtn jmbtn-succeed add">添加</a> -->
                    </div>
                </form>
            </div>           
        </div>
        <div class="jm-TabTitle mt10">
            <h3 class="h3type txt-white">自动点控充值管理-库存</h3>
        </div>
        <!-- jm-section start-->
        <div class="jm-section">
            <table class="jmtable-type01" id="cc_loginprops_table">
                <thead>
                    <tr>
                        <th>配置编号</th>
                        <th>自动点控值</th>
                        <th>充值1档倍数</th>
                        <th>充值2档倍数</th>
                        <th>充值3档倍数</th>
                        <th>充值4档倍数</th>
                        <th>充值5档倍数</th>
                        <th>充值6档倍数</th>
                        <th>充值7档倍数</th>
                        <th>充值8档倍数</th>
                        <th>充值9档倍数</th>
                        <th>充值10档倍数</th>
                        <th>充值11档倍数</th>
                        <th>充值12档倍数</th>
                        <th>充值13档倍数</th>
                        <th>充值14档倍数</th>
						<th>操作</th>
                    </tr>
                </thead>
                <tbody id="gm_cc_RecordHtml">
                	<script id="gm_cc_RecordData" type="text/html">
						<%for(i = 0; i < datas.length; i++) {%>    
						<tr number=<%=datas[i].id%> rechargemul1=<%=datas[i].rechargemuls[0] %> autocontrolvalue=<%=datas[i].controlvalue%> rechargemul2=<%=datas[i].rechargemuls[1] %> rechargemul3=<%=datas[i].rechargemuls[2] %> rechargemul4=<%=datas[i].rechargemuls[3] %> rechargemul5=<%=datas[i].rechargemuls[4] %> rechargemul6=<%=datas[i].rechargemuls[5] %>  rechargemul7=<%=datas[i].rechargemuls[6] %>  rechargemul8=<%=datas[i].rechargemuls[7] %> rechargemul9=<%=datas[i].rechargemuls[8] %> rechargemul10=<%=datas[i].rechargemuls[9]%> rechargemul11=<%=datas[i].rechargemuls[10]%> rechargemul12=<%=datas[i].rechargemuls[11]%> rechargemul13=<%=datas[i].rechargemuls[12]%> rechargemul14=<%=datas[i].rechargemuls[13]%> >
							<td> <%=datas[i].id%> </td>
                            <td> <%=control(datas[i].controlvalue)%></td>
                            <%for(j = 0; j < datas[i].rechargemuls.length; j++) {%>
                            <td> <%= datas[i].rechargemuls[j] %> </td>
                            <%}%>
							
							<td><a class='jmbtn jmbtn jmbtn-info update'>修改</a></td>
						</tr>
						<%}%>
					</script>
                </tbody>
            </table>
        </div>
        <!-- jm-section end-->
        <div class="jm-navbar clearfix">
            <!-- jm-epages -->
            <!-- <div class="jm-epages" id="pageHtml">
            	<script type="text/html" id="pageData">
				<%if(isenptydata(datas)){%>
					<div style="color:#ff6600" class="fleft">暂无查询记录！</div>
				<%} else{%>
					<div class = "fright">
					<%if(curpage != 1) {%>   
						<a href="javascript:listToPage(1);">首页</a>
						<a href="javascript:listToPage(<%=curpage - 1%>);">上一页</a>
					<%}%>
					<%if(curpage == 1 && maxpage != 0 && maxpage != 1) {%>  
						<a>首页</a>
						<a>上一页</a>
					<%}%>				
					<%if(maxpage <= 8){%> 
						<%for(i = 1; i <= maxpage; i++) {%>  
						<%if(curpage == i) {%>  
							<a href="#" class="on"><%=i%></a>  
						<%}else {%>  
							<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
						<%}%>  
					<%}%>  
					<%}else {%>  
						<%if(curpage == 1) {%>  
							<a href="#" class="on">1</a>  
							<a href="javascript:listToPage(2);">2</a>  
							<a href="javascript:listToPage(3);">3</a>  
							...  
							<a href="javascript:listToPage(<%=maxpage - 1%>);"><%=maxpage - 1%></a>  
							<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
						<%}else if(curpage < 6) {%>  
							<%for(i = 1; i <= curpage - 1; i++ ) {%>  
								<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
							<%}%>  
							<span class="on"><%=curpage%></span>  
							<a href="javascript:listToPage(<%=curpage + 1%>);"><%=curpage + 1%></a>  
							...  
							<a href="javascript:listToPage(<%=maxpage - 1%>);"><%=maxpage - 1%></a>  
							<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
						<%}else if(curpage >= 6 && curpage < maxpage - 4) {%>  
							<a href="javascript:listToPage(1);">1</a>  
							<a href="javascript:listToPage(2);">2</a>  
							...  
							<a href="javascript:listToPage(<%=curpage - 1%>);"><%=curpage - 1%></a>  
							<span class="on"><%=curpage%></span>  
							<a href="javascript:listToPage(<%=curpage + 1%>);"><%=curpage + 1%></a>  
							...  
							<a href="javascript:listToPage(<%=maxpage-1%>);"><%=maxpage - 1%></a>  
							<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
						<%}else {%>  
							<a href="javascript:listToPage(1);">1</a>  
							<a href="javascript:listToPage(2);">2</a>  
							...  
							<%for(i = maxpage - 4; i <= maxpage; i++) {%>  
								<%if(curpage == i) {%>  
									<span class="on"><%=i%></span>  
								<%}else {%>  
									<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
								<%}%>  
							<%}%>  
						<%}%>  
					<%}%>  
					<%if(curpage < maxpage) {%>  
						<a href="javascript:listToPage(<%=curpage + 1%>);">下一页</a>  
						<a href="javascript:listToPage(<%=maxpage%>);">尾页</a>  
					<%}%> 
					<div>
				<%}%>
				</script>
            </div> -->
            <!-- epages -->
        </div>
        
    </div>
</div>
<!--jm-maincon warp end-->

<!-- 弹窗信息 start -->
<div id="itemInfo" style="overflow-y: auto;width: 700px;" class="popupCon " sty>
    <h2 class="f16 newTitle" >自动点控充值管理-库存</h2>
    <a href="javascript:closeCont('itemInfo');"   class="btnClose">×</a>
    <!--popupBox start-->
    <div class="popupBox" >
        <div class="blockbox" >
            <div class="box-inner clearfix" style="min-height:300px">
                <div class="jmform-vertical add-itemInfo" >
                    <div class="jmform-vgroup" id="number1">
                        <label class="control-label" style="width: 25%;">配置编号</label>
                        <div class="fillform">
                            <input id="number" type="text" class="jminput jminput-size05" name="target_stock" disabled/>
                        </div>
                    </div>
                    
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">点控值：</label>
                        <div class=" fleft">
                            <select id="control" name="select" class="select_new">
                                <option value="9000">大亏</option>
                                <!-- <option value="7000">中亏</option>
                                <option value="8000">中小亏</option>
                                <option value="9500">小亏</option> -->
                                <option value="10000" selected>默认</option>
                                <option value="11000">小赚</option>
                                <option value="15000">中赚</option>
                                <option value="19000">大赚</option>
                            </select>
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值1档倍数:</label>
                        <div class="fillform">
                            <input id="rechargemul1" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值2档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul2" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值3档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul3" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值4档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul4" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值5档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul5" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值6档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul6" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值7档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul7" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值8档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul8" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值9档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul9" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值10档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul10" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值11档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul11" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值12档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul12" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值13档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul13" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup">
                        <label class="control-label" style="width: 25%;">充值14档倍数：</label>
                        <div class="fillform">
                            <input id="rechargemul14" type="text" class="jminput jminput-size05" name="target_stock" />
                        </div>
                    </div>
                    <div class="jmform-vgroup jm-ptb20">
                        <div class="control-label clearfix">  
                        	                      	
                        </div>
                        <div class="fillform"> 
                        	<a class="jmbtn jmbtn jmbtn-info" href="javascript:void(0)" onclick="submit()">提交</a>  
							<a class="jmbtn jmbtn jmbtn-default" href="javascript:closeCont('itemInfo');">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--popupBox end-->
</div>


<script type="text/javascript" src="js/effect.js"></script>
<!--报表导出 js -->
<script src="js/export/tableExport.js"></script>
<script src="js/export/jquery.base64.js"></script>
<style>
.select_new{
  width:150px;height:36px; border:1px solid #ddd;border-radius: 5px;color: #555555
}
</style>
<script type="text/javascript">
	var number  = 0;
	var control = 0;
    var rechargemul1 = "";
    var rechargemul2 = "";
    var rechargemul3 = "";
    var rechargemul4 = "";
    var rechargemul5 = "";
    var rechargemul6 = "";
    var rechargemul7 = "";
    var rechargemul8 = "";
    var rechargemul9 = "";
    var rechargemul10 = "";
    var rechargemul11 = "";
    var rechargemul12 = "";
    var rechargemul13 = "";
    var rechargemul14 = "";

    
    var perpage = 50;

    template.helper('control', function (data) {    
		switch(data){
			case 5000:return "大亏";break;
            case 9000:return "大亏";break;
			case 7000:return "中亏";break;
            case 8000:return "中小亏";break;
			case 9500:return "小亏";break;
			case 10000:return "默认";break;
			case 11000:return "小赚";break;
			case 15000:return "中赚";break;
			case 19000:return "大赚";break;
            default:return data;
		}
	})
    //判断是否有数据，记录为空
    template.helper('isenptydata', function (data) {
        if($.isEmptyObject(data)){
            return true;
        }else{
            return false;
        }
    })
    function research(id) {
       
        var gameid = Number($.cookie("gameid")) || 0;
        var zoneid = Number($.cookie("zoneid")) || 0;
        
		var stId =  Number(id);
		var toCurPage = stId ||1;
        
        var onLoadTip;	
        let optype = 1;
        let subgametype  = 5;
		$.ajax({
			type: "post",
			url:"/gm/http",
			data:{cmd: "inventory_controll", gameid: gameid,zoneid:zoneid, optype: optype, curpage: toCurPage , perpage :perpage,subgametype:subgametype},
			dataType:"json",
			beforeSend: function(){
				//加载中...提示
				 onLoadTip = layer.load(1);
				},
			success: function(data){
				//有返回值,则关闭加载
				layer.close(onLoadTip);
				if (!data) {
					alert("command timeout");
				} else {
					if (data.datas&&data.datas.length>0) {
                        var html = template("gm_cc_RecordData", data); 
                        $("#gm_cc_RecordHtml").html(html);
                    }else{
                        $("#gm_cc_RecordHtml").html("");
                    } 
					
				}
			}
		});
    }
	function listToPage(id){
		var ids = id
		research(ids);
		};
    $(document).ready(function(){

        research(1);
		
    });
    // $('.add').live('click',function(){
      
    //     optype  = 8;

    //     add(optype , "");
    // })
    $('.update').live('click',function(){
        var trItem = $(this).parent('td').parent('tr');
        // optype  = 2;

        add(trItem)

    })
	function add(trItem){
        // optype  = type;
        // if (type == 8){
        //     number  = "";
        //     control = "";
        //     $("#control").find("option[value=10000]").attr("selected",true);
        //     for(i = 1 ; i<= 14 ; i++){
        //         var name = "rechargemul" + i;
        //         $('#'+name).val("");
        //     }
            
        //     $('#number1').hide();
            
        // }else{
            number  = trItem.attr("number");
            control = trItem.attr("autocontrolvalue");
            $("#control").find("option[value="+control+"]").attr("selected",true);
            $('#number').val(number);

            for(i = 1 ; i<= 14 ; i++){
                var name = "rechargemul" + i;
               
                namev    = trItem.attr(name);
      
                $('#'+name).val(namev);
            }
        
        // }
      
		showCont('itemInfo');

	}
	function submit(){

        let gameid = $.cookie("gameid");
        let zoneid = $.cookie("zoneid");
        let rechargemuls = [];
        
            
        let id      = Number($('#number').val());
        let autocontrolvalue       = Number($('#control').val()) ;
        let rechargemul1  = $('#rechargemul1').val();
        let rechargemul2  = $('#rechargemul2').val();
        let rechargemul3  = $('#rechargemul3').val();
        let rechargemul4  = $('#rechargemul4').val();
        let rechargemul5  = $('#rechargemul5').val();
        let rechargemul6  = $('#rechargemul6').val();
        let rechargemul7  = $('#rechargemul7').val();
        let rechargemul8  = $('#rechargemul8').val();
        let rechargemul9  = $('#rechargemul9').val();
        let rechargemul10  = $('#rechargemul10').val();
        let rechargemul11  = $('#rechargemul11').val();
        let rechargemul12  = $('#rechargemul12').val();
        let rechargemul13  = $('#rechargemul13').val();
        let rechargemul14  = $('#rechargemul14').val();
       
        let res = confirm('是否确认提交？');
        if(res != true) {
            return;
        }
        let optype = 2;
        let subgametype  = 5;
      

        $.post("/gm/http", {cmd: "inventory_controll", gameid: gameid,zoneid:0, id:id,controlvalue:autocontrolvalue,rechargemul1:rechargemul1,rechargemul2:rechargemul2,rechargemul3:rechargemul3,rechargemul4:rechargemul4,rechargemul5:rechargemul5,rechargemul6:rechargemul6,rechargemul7:rechargemul7,rechargemul8:rechargemul8,rechargemul9:rechargemul9,rechargemul10:rechargemul10,rechargemul11:rechargemul11,rechargemul12:rechargemul12,rechargemul13:rechargemul13,rechargemul14:rechargemul14 , optype :optype ,  subgametype:subgametype},
        function(data){
            alert(data.retdesc);
            if(data.retcode == 0){
                closeCont('itemInfo');
                research(1);
               
            }
        }, "json");
        
 
    }
    // $('.delete').live('click',function(){

    //     var trItem  = $(this).parent('td').parent('tr');
    //     let id      =  trItem.attr("number");

    //     let res = confirm('是否确认提交？');
    //     if(res != true) {
    //         return;
    //     }
    //     let gameid = $.cookie("gameid");
    //     let zoneid = $.cookie("zoneid");
    //     $.post("/gm/http", {cmd: "controll_order", gameid: gameid,zoneid:zoneid, optype: optype, id:id},
    //     function(data){
    //         alert(data.retdesc);
    //         if(data.retcode == 0){
    //             research(1);
    //         }
    //     }, "json");

    // })

    
</script>
</body>
</html>