<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>GMTools管理系统</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="form/css/jqtransform.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="form/js/jquery.jqtransform.js"></script>
<script src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="js/template-native.js"></script>
<script src="js/layer/layer.js"></script>
<script type="text/javascript">
$(function() {
    $(".jqtransform").jqTransform();
});
</script>

</head>

<body>


<!--jm-maincon warp start-->
<div class="jm-maincon">
    <div class="jm-plr15">
        <!-- jm-navbar start-->
        <div class="jm-navbar">
            <div class="jmform-search clearfix">
                 <form action="">
                    <div class="jmform-group">
                        <input id="charid" type="text" placeholder="玩家ID" class="jminput jminput-sm jminput-size04" name="">
                    </div>
					<div class="jmform-group">
                        <div class="jqtransform fleft">
                            <select id="rebatetype" name="select" class="select_new">
                            	<option value="0" selected>返利类型</option>
                            	<option value="1">日返</option>
                                <option value="2">周返</option>
                            </select>
                        </div>
                    </div>  
                    <div class="jmform-group">
                        <input id="starttime" type="text" placeholder="开始时间" class="jminput jminput-sm jminput-size04 Wdate" name="" onfocus="WdatePicker({skin:'default',dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="" autocomplete="off">
                    </div>
                    <div class="jmform-group">
                        <input id="endtime" type="text" placeholder="结束时间" class="jminput jminput-sm jminput-size04 Wdate" name="" onfocus="WdatePicker({skin:'default',dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="" autocomplete="off">
                    </div>
                    
                    <div class="jmform-group">
                        <a id="user_info_search" class="jmbtn jmbtn-succeed" href="javascript:void(0)"><span class="ico-search-w16"></span>查询</a>
                    </div>
                   
                </form>
            </div>           
        </div>
        <!-- jm-navbar end-->
        
        
        <div class="jm-TabTitle mt10">
            <h3 class="h3type txt-white">损失返利日志</h3>
            <span id="totalHtml">
				<script id="totalinfo" type="text/html">
					<h4 class="h3type txt-white"><span id="all">
						
                        总领取返利：<%=receivegold?changechips(receivegold):0%>
                       
                        
					</span></h4>
				</script>
					
			</span>
        </div>
        <!-- jm-section start-->
        <div class="jm-section">
            <table class="jmtable-type01" id=" ">
                <thead>
                    <tr>
                    	<th>玩家ID</th>
						<th>返利类型</th>
                        <th>领取时间</th>
                        <th>净损失金额</th>
                        <th>领取返利</th>
                    </tr>
                </thead>
                <tbody id="gm_cc_RecordHtml">
                	<script id="gm_cc_RecordData" type="text/html">
						<%for(i = 0; i < data.length; i++) {%>    
						<tr>
							<td><a href="javascript:jumpToPage('user_info_search' , 'charid=<%=data[i].charid%>')"><%=data[i].charid%></a></td>
							<td><%=rebatetype(data[i].rebatetype)%></td>
							<td><%=data[i].datetime%></td>
							<td><%=changechips(data[i].netloss)%></td>
							<td><%=changechips(data[i].receivegold)%></td>
						</tr>
						<%}%>
					</script>
                </tbody>
            </table>
        </div>
        
        <!-- jm-section end-->
        <div class="jm-navbar clearfix">
            <!-- jm-epages -->
           <div class="jm-epages" id="pageHtml">
            	<script type="text/html" id="pageData">
				<%if(isenptydata(data)){%>
					<div style="color:#ff6600" class="fleft">暂无查询记录！</div>
					<%} else{%>
						<div class = "fright">
						<%if(curpage != 1) {%>   
							<a href="javascript:listToPage(1);">首页</a>
							<a href="javascript:listToPage(<%=curpage - 1%>);">上一页</a>
						<%}%>
						<%if(curpage == 1 && maxpage != 0 && maxpage != 1) {%>  
							<a>首页</a>
							<a>上一页</a>
						<%}%>				
						<%if(maxpage <= 8){%> 
							<%for(i = 1; i <= maxpage; i++) {%>  
							<%if(curpage == i) {%>  
								<a href="#" class="on"><%=i%></a>  
							<%}else {%>  
								<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
							<%}%>  
						<%}%>  
						<%}else {%>  
							<%if(curpage == 1) {%>  
								<a href="#" class="on">1</a>  
								<a href="javascript:listToPage(2);">2</a>  
								<a href="javascript:listToPage(3);">3</a>  
								...  
								<a href="javascript:listToPage(<%=maxpage - 1%>);"><%=maxpage - 1%></a>  
								<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
							<%}else if(curpage < 6) {%>  
								<%for(i = 1; i <= curpage - 1; i++ ) {%>  
									<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
								<%}%>  
								<span class="on"><%=curpage%></span>  
								<a href="javascript:listToPage(<%=curpage + 1%>);"><%=curpage + 1%></a>  
								...  
								<a href="javascript:listToPage(<%=maxpage - 1%>);"><%=maxpage - 1%></a>  
								<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
							<%}else if(curpage >= 6 && curpage < maxpage - 4) {%>  
								<a href="javascript:listToPage(1);">1</a>  
								<a href="javascript:listToPage(2);">2</a>  
								...  
								<a href="javascript:listToPage(<%=curpage - 1%>);"><%=curpage - 1%></a>  
								<span class="on"><%=curpage%></span>  
								<a href="javascript:listToPage(<%=curpage + 1%>);"><%=curpage + 1%></a>  
								...  
								<a href="javascript:listToPage(<%=maxpage-1%>);"><%=maxpage - 1%></a>  
								<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
							<%}else {%>  
								<a href="javascript:listToPage(1);">1</a>  
								<a href="javascript:listToPage(2);">2</a>  
								...  
								<%for(i = maxpage - 4; i <= maxpage; i++) {%>  
									<%if(curpage == i) {%>  
										<span class="on"><%=i%></span>  
									<%}else {%>  
										<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
									<%}%>  
								<%}%>  
							<%}%>  
						<%}%>  
						<%if(curpage < maxpage) {%>  
							<a href="javascript:listToPage(<%=curpage + 1%>);">下一页</a>  
							<a href="javascript:listToPage(<%=maxpage%>);">尾页</a>  
						<%}%> 
						<span>第<input type="text" id="choise_page" style="width: 30px;">页 <button type="button" onclick="choise()">跳转</button></span>
						<div>
					<%}%>
				</script>
            </div>
            <!-- epages -->
        </div>
        
    </div>
</div>
<!--jm-maincon warp end-->


<script type="text/javascript" src="js/effect.js"></script>
<script type="text/javascript">
	template.helper("changechips" , function (data) {

		return (data / 100).toFixed(2)

	})
	template.helper("rebatetype" , function (data) {

		switch(data){
			case 1:return "日返";
			case 2:return "周返";
			default:return "";
		}

	})
    
   template.helper('isenptydata', function (data) {    
   		if($.isEmptyObject(data)){
			return true;
		}else{
			return false;
		}
   	})	
    function rolesearch(id) {

        var gameid = Number($.cookie("gameid")) || 0;
        var zoneid = Number($.cookie("zoneid")) || 0;
        var charid = $("#charid").val();
        var starttime =$("#starttime").val();
        var endtime = $("#endtime").val();
		var rebatetype = $("#rebatetype").val();

		
		var stId =  Number(id);
		var toCurPage = stId ||1;

        var perpage = 50;
		var onLoadTip;	
		$.ajax({
			type: "post",
			url:"/gm/http",
			data:{cmd: "gm_loss_rebate_log", charid: charid, gameid:gameid, zoneid:zoneid,curpage:toCurPage,perpage:perpage, starttime:starttime,endtime:endtime,rebatetype:rebatetype},
			dataType:"json",
			beforeSend: function(){
				//加载中...提示
				 onLoadTip = layer.load(1);
				},
			success: function(data){
				//有返回值,则关闭加载
				layer.close(onLoadTip);
				if (!data) {
					alert("command timeout");
				} else {
					if (data.data&&data.data.length>0) {
						
	                      var html = template("gm_cc_RecordData", data); 
	                      $("#gm_cc_RecordHtml").html(html);              
	                }else{
                        $("#gm_cc_RecordHtml").html("");
                    } 
					var pageHtml = template("pageData", data);  
					$("#pageHtml").html(pageHtml);	
					var totalHtml = template("totalinfo", data);  
					$("#totalHtml").html(totalHtml);		
                  						
				}
			}
		});	
    }

	
	function listToPage(id){
		var ids = id
		rolesearch(ids);
		};
    $(document).ready(function(){
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		
		const code = urlParams.get('code');
		const charid = urlParams.get('charid');
		
        $("#code").val(code)
		$("#charid").val(charid)

        $("#user_info_search").click(rolesearch);
		rolesearch(1);
    });
</script>
</body>
</html>
