<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GMTools管理系统</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="form/css/jqtransform.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="form/js/jquery.jqtransform.js"></script>
<script src="js/jquery.cookie.js"></script> 
<script type="text/javascript" src="My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript">
$(function() {
    $(".jqtransform").jqTransform();
});
</script>

</head>

<body>

<!--jm-maincon warp start-->
<div class="jm-maincon">
	<div class="jm-plr15">		
        <div class="jm-TabTitle mt10">
        	<h3 class="h3type txt-white">权限列表</h3>
        </div>
        <div class="box-inner jm-userInfoModify">
            <div class="jm-section">
                <table class="jmtable-type01" id="cc_loginprops_table">
                    <thead>
                        <tr>
                            <th>普通管理员</th>
                            <th>客服</th>
                        </tr>
                    </thead>                
                    <tbody id="gm_cc_RecordHtml">
                       
                           
                            <tr>
                                <td>
                                    <p><b>账号管理:</b></p>
                                    <p>玩家查找 , 玩家列表 , 在线玩家列表 , VIP玩家列表 , 信息修改 , 玩家推广信息 , 兑换审核 , 兑换审核已忽略 , 审核中</p>
                                    
                                    <p><b>奖惩管理:</b></p>
                                    <p>处罚玩家 , 奖惩信息 , 限制ip、机器码 , ip、机器码限制列表 , 自动点控预警</p>
                                    <p><b>公告管理:</b></p>
                                    <p>普通公告 , 历史公告</p>


                                    <p><b>系统管理:</b></p>
                                    <p>slots配置信息 , 非slots配置信息 , 单机游戏配置信息 , 自动点控充值管理-库存 , 自动点控充值档次配置-库存 , Slots库存管理 , 支付管理 , 提现管理 , 自动点控充值档次配置 , GM指令 , 客服地址 , 专属奖励 , 上限点杀配置 , 可提现金额控制</p>
   

                                    <p><b>邮件管理:</b></p>

                                    <p>发送邮件 , 批量邮件 , 邮件发送日志</p>


                                    <p><b>日志管理:</b></p>
                                    <p>订单日志 , 提现率 , 充值兑换排行 , 充值兑换日志 , 邮件日志 , 输赢统计 , 总流水日志 , 游戏进出日志 , 游戏对局日志 , 救济金日志 , 签到日志 , 推广奖励日志 , 有效玩家奖励日志 , 货币日志 , 货币日志图表 , 周卡奖励领取日志 , 库存变化日志 , 玩家抽水日志 , 充值活跃玩家留存日志 , 专属奖励日志 , 专属奖励领取日志 , 拉活数据查询 , 游戏金币日志 , 复充日志 , 奖池日志 , 玩家上传日志</p>

                                </td>
                                <td>
                                    <p><b>账号管理:</b></p>
                                    <p>玩家查找 , 玩家列表 , 在线玩家列表 , 玩家推广信息 , 兑换审核 , 审核中</p>
                                    <p><b>邮件管理:</b></p>
                                    <p>发送邮件 , 邮件发送日志</p>
                                    <p><b>日志管理:</b></p>
                                    <p>订单日志 , 充值兑换排行 , 邮件日志（只能看 不能删除） , 游戏进出日志 , 游戏对局日志 , 救济金日志 , 签到日志 ,  推广奖励日志 , 有效玩家奖励日志 , 货币日志 , 周卡奖励领取日志 , 专属奖励日志 , 专属奖励领取日志 , 玩家上传日志</p>


                                </td>
                                
                            </tr>
                    </tbody>
                </table>
            </div>          
            
        </div>        
    </div>
</div>


<script type="text/javascript" src="js/effect.js"></script>
<script type="text/javascript">
   

</script>
</body>
</html>
