<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GMTools管理系统</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="form/css/jqtransform.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="form/js/jquery.jqtransform.js"></script>
<script src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript">
$(function() {
    $(".jqtransform").jqTransform();
});
</script>

</head>

<body>


<!--jm-maincon warp start-->
<div class="jm-maincon">
	<div class="jm-plr15">
    	<!-- jm-navbar start-->
    	<div class="jm-navbar">
        	<div class="jmform-search clearfix">
            	 <form action="">
                    <div class="jmform-group">
                        <input id="charid" type="text" placeholder="输入角色ID" class="jminput jminput-sm jminput-size04" name="">
                    </div>
                    <div class="jmform-group">
                        <input id="charname" type="text" placeholder="输入角色名称" class="jminput jminput-sm jminput-size04" name="">
                    </div>
                    <div class="jmform-group">
                        <input id="recordtime" type="text" placeholder="起始时刻" class="jminput jminput-sm jminput-size04 Wdate" name="" onfocus="WdatePicker({skin:'default',dateFmt:'yyyy/MM/dd HH:mm:ss'})" value="" autocomplete="off">
                    </div>
                    <div class="jmform-group">
                        <a id="recordsearch" class="jmbtn jmbtn-succeed" href="javascript:void(0)"><span class="ico-search-w16"></span>搜索</a>
                    </div>
                </form>
            </div>           
        </div>
        <!-- jm-navbar end-->
        
        
        <div class="jm-TabTitle mt10">
        	<h3 class="h3type txt-white">角色信息</h3>
        </div>
        <!-- jm-section start-->
        <div class="jm-section">
            <table class="jmtable-type01">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>状态</th>
                        <th>金币数额</th>
                        <th>游戏币数额</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                    </tr>
                </thead>
                <tbody>
                	<!--tr>
                    	<td>1</td>
                        <td>无</td>
                        <td>1500000</td>
                        <td>28445000</td>
                        <td>2015-10-11</td>
                        <td>2016-2-18</td>
                    </tr-->
                </tbody>
            </table>
        </div>
        <!-- jm-section end-->
        <div class="jm-navbar clearfix">
        	<!--jm-epages start-->
            <!--<div class="jm-epages" id="pageHtml">
            	<script type="text/html" id="pageData">
				<%if(isenptydata(data)){%>
					<div style="color:#ff6600" class="fleft">暂无查询记录！</div>
				<%} else{%>
					<div class = "fright">
					<%if(curpage != 1) {%>   
						<a href="javascript:listToPage(1);">首页</a>
						<a href="javascript:listToPage(<%=curpage - 1%>);">上一页</a>
					<%}%>
					<%if(curpage == 1 && maxpage != 0 && maxpage != 1) {%>  
						<a>首页</a>
						<a>上一页</a>
					<%}%>				
					<%if(maxpage <= 8){%> 
						<%for(i = 1; i <= maxpage; i++) {%>  
						<%if(curpage == i) {%>  
							<a href="#" class="on"><%=i%></a>  
						<%}else {%>  
							<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
						<%}%>  
					<%}%>  
					<%}else {%>  
						<%if(curpage == 1) {%>  
							<a href="#" class="on">1</a>  
							<a href="javascript:listToPage(2);">2</a>  
							<a href="javascript:listToPage(3);">3</a>  
							...  
							<a href="javascript:listToPage(<%=maxpage - 1%>);"><%=maxpage - 1%></a>  
							<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
						<%}else if(curpage < 6) {%>  
							<%for(i = 1; i <= curpage - 1; i++ ) {%>  
								<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
							<%}%>  
							<span class="on"><%=curpage%></span>  
							<a href="javascript:listToPage(<%=curpage + 1%>);"><%=curpage + 1%></a>  
							...  
							<a href="javascript:listToPage(<%=maxpage - 1%>);"><%=maxpage - 1%></a>  
							<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
						<%}else if(curpage >= 6 && curpage < maxpage - 4) {%>  
							<a href="javascript:listToPage(1);">1</a>  
							<a href="javascript:listToPage(2);">2</a>  
							...  
							<a href="javascript:listToPage(<%=curpage - 1%>);"><%=curpage - 1%></a>  
							<span class="on"><%=curpage%></span>  
							<a href="javascript:listToPage(<%=curpage + 1%>);"><%=curpage + 1%></a>  
							...  
							<a href="javascript:listToPage(<%=maxpage-1%>);"><%=maxpage - 1%></a>  
							<a href="javascript:listToPage(<%=maxpage%>);"><%=maxpage%></a>  
						<%}else {%>  
							<a href="javascript:listToPage(1);">1</a>  
							<a href="javascript:listToPage(2);">2</a>  
							...  
							<%for(i = maxpage - 4; i <= maxpage; i++) {%>  
								<%if(curpage == i) {%>  
									<span class="on"><%=i%></span>  
								<%}else {%>  
									<a href="javascript:listToPage(<%=i%>);"><%=i%></a>  
								<%}%>  
							<%}%>  
						<%}%>  
					<%}%>  
					<%if(curpage < maxpage) {%>  
						<a href="javascript:listToPage(<%=curpage + 1%>);">下一页</a>  
						<a href="javascript:listToPage(<%=maxpage%>);">尾页</a>  
					<%}%> 
					<div>
				<%}%>
				</script>
            </div>-->
            <!--jm-epages-->
        </div>
        
    </div>
</div>
<!--jm-maincon warp end-->


<script type="text/javascript" src="js/effect.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript">
    function recordsearch(e) {
        var gameid = Number($.cookie("gameid") || "")
        var zoneid = Number($.cookie("zoneid") || "")
        if (!(gameid && zoneid)) {
            alert("Please select game and zone first");
            return;
        }
        var charid = Number($("#charid").val());
        var charname = $("#charname").val();
        var recordtime = Date.parse($("#recordtime").val())/1000;
        if (!(charid || charname)) {
            alert("charid or charname must have one input");
            return;
        }
        
        $.post("/gm/http", {cmd: "user_record_search", charid: charid, charname: charname, recordtime:recordtime, gameid:gameid, zoneid:zoneid}, 
            function(data){
                if (!data) {
                    alert("Execute timeout");
                } else if (data.retcode != 0){
                    alert(data.retdesc);
                } else {
                    var text = ""
                    for( i in data.data) {
                        text += "<tr><td>"+data.data[i].recordid+"</td><td>"+data.data[i].state+"</td><td>"+data.data[i].gold+"</td><td>"+data.data[i].coin+"</td><td>"+format_time(data.data[i].starttime)+"</td><td>"+format_time(data.data[i].endtime)+"</td></tr>";
                    }
                    $(".jmtable-type01 tbody").html(text);
                }
            }, "json");
    }
    $(document).ready(function(){
        $("#recordsearch").click(recordsearch);
    });

</script>
</body>
</html>